<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Room Allocation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/admin/home}" method="">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Go Back to Home Page
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span><h2>Booking Requests</h2></span>
                <div style="float:left;">
                    <form th:action="@{/admin/room-allocation}" method="">
                        <button class="btn btn-md btn-danger" name="cancelled"
                                type="Submit">All
                        </button>
                    </form>
                </div>
                <div style="float:left;">
                    <form th:action="@{/admin/room-allocation/pending}" method="">
                        <button class="btn btn-md btn-danger" name="pending"
                                type="Submit">pending
                        </button>
                    </form>
                </div>
                <div style="float:left;">
                    <form th:action="@{/admin/room-allocation/confirmed}" method="">
                        <button class="btn btn-md btn-danger" name="confirmed"
                                type="Submit">confirmed
                        </button>
                    </form>
                </div>
                <div>
                    <form th:action="@{/admin/room-allocation/cancelled}" method="">
                        <button class="btn btn-md btn-danger" name="cancelled"
                                type="Submit">cancelled
                        </button>
                    </form>
                </div>
            </div>
            <div class="container">
                <table class="table table-hover" id="users">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Meeting Room</th>
                        <th>Booked By</th>
                        <th>status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bookingDetail: ${bookingDetails}">
                        <td th:text="${bookingDetail.id}">1</td>
                        <td th:text="${bookingDetail.date}">Test</td>
                        <td th:text="${bookingDetail.meetingRoom.description}">Class</td>
                        <td th:text="${bookingDetail.person.firstName}">Test</td>
                        <td th:text="${bookingDetail.status}">Test</td>
                        <td><a th:href="@{'/confirm-booking/'+${bookingDetail.id}}">Confirm</a> | <a th:href="@{'/cancel-booking/'+${bookingDetail.id}}">Cancel</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>