<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${username}"></span>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
<div class="container">
    <h2>Admin Console</h2>
    <table class="table table-hover" id="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Department</th>
            <th>Location</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Assign Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.firstName}">Test</td>
            <td th:text="${user.lastName}">Class</td>
            <td th:text="${user.email}">test@example.com</td>
            <td th:text="${user.department}">testdept</td>
            <td th:text="${user.location}">testAdmin</td>
            <td><a th:href="@{'/admin/edit/'+ ${user.id}}">Edit</a></td>
            <td><a th:href="@{'/admin/delete/'+ ${user.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>