<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${username}"></span>
            </div>
            <div class="container">
                <h2>Admin Console</h2>
                <table class="table table-hover" id="users">
                    <tr><td>
                        <a th:href="@{/admin/console}"><button class="btn btn-md btn-block" name="user-management" type="Submit">User Management</button></a>
                    </td></tr>
                    <tr><td>
                        <a th:href="@{'/room-management/' + ${id}}"><button class="btn btn-md btn-block" name="room-management" type="Submit">Room Management</button></a>
                    </td></tr>
                    <tr><td>
                        <a th:href="@{/admin/room-allocation}"><button class="btn btn-md btn-block" name="room-allocation" type="Submit">Room Allocation</button></a>
                    </td></tr>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>