<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/homepage">Book A MeetingRoom</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/admin/console/1">Users</a></li>
                    <li class="active"><a href="/room-management/1">Rooms</a></li>
                    <li><a href="/admin/room-allocation/1">Bookings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span ><h2>Add a Meeting Room</h2></span>
            </div>
            <table class="table table-hover">
                <form  action="#" th:action="@{/admin/saveMeetingRoom}" th:object="${meetingRoom}" th:method="POST">
                    <tr>
                        <td>Room Name:</td><td><input type="text" id="description" th:field="*{description}" autofocus></td>
                    </tr>
                    <tr>
                        <td>Location:</td><td><input type="text" id="location" th:field="*{location}" autofocus></td>
                    </tr>
                    <tr>
                        <td>Facilities:</td><td>
                        <th:block th:each="facility : ${facilities}">
                            <input type="checkbox" name="items" th:value="${facility.id}">
                            <label th:text="${facility.name}"></label>
                        </th:block>
                    </td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="submit" value="Create Room"></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>

</body>
</html>