<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Meeting Room</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span ><h2>Add a Meeting Room</h2></span>
            </div>
            <table class="table table-hover">
                <form  action="#" th:action="@{'/book-a-meeting-room/'+ ${id}}" th:object="${bookingDetails}" th:method="POST">
                    <tr>
                        <td>Date:</td><td><input type="date" id="date" th:field="*{date}" autofocus></td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="submit" value="Book"></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>

</body>
</html>