<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meeting Rooms</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Book A MeetingRoom</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:if="${role} == 'Admin'"><a href="/admin/console/1">Users</a></li>
                <li th:if="${role} == 'User' or ${role} == 'TL' or ${role} == 'PM'"><a href="/user/user-profile">Profile</a></li>
                <li class="active"><a href="/room-management/1">Rooms</a></li>
                <li th:if="${role} == 'User' or ${role} == 'TL' or ${role} == 'PM'"><a href="/user/view-booking-request/1">Bookings</a></li>
                <li th:if="${role} == 'Admin'"><a href="/admin/room-allocation/1">Bookings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
        <div class="container">

            <div class="panel-group" style="margin-top:40px">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3> Meeting Rooms </h3>
                        <div style="float:right;">
                            <form th:if="${role} == 'Admin'" th:action="@{/admin/addMeetingRoom/}" method="get">
                                <button class="button2" name="add-room"
                                        type="Submit">Add</button>
                            </form>
                        </div>
                        <span th:utext="${username}">user</span>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>Location</th>
                                <th>Facilities</th>
                                <th>Status</th>
                                <th colspan="2">Operations</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="meetingRoom: ${meetingRooms}">
                                <td th:text="${meetingRoom.id}">1</td>
                                <td th:text="${meetingRoom.description}">Test</td>
                                <td th:text="${meetingRoom.location}">Class</td>
                                <td th:text="${meetingRoom.facilities}">testAdmin</td>
                                <td th:text="${meetingRoom.status}"></td>
                                <td th:if="${role} == 'Admin'">
                                    <a th:href="@{'/admin/update-meeting-room/'+ ${meetingRoom.id}}"
                                        class="btn btn-primary">Edit
                                    </a>
                                    <a th:href="@{'/admin/delete-meeting-room/'+ ${meetingRoom.id}}"
                                       class="btn btn-danger">Delete
                                    </a>
                                </td>
                                <td th:if="${role} == 'User' or ${role} == 'TL' or ${role} == 'PM'">
                                    <a th:href="@{'/book-a-meeting-room/'+ ${meetingRoom.id}}"
                                       class="btn btn-primary">Book
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" th:fragment="pagination">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                            <a class="page-link" th:href="@{|/room-management/${pageNumber}|}" th:text=${pageNumber}>1</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>

</body>
</html>