<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/homepage">Book A MeetingRoom</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:if="${role} == 'Admin'"><a href="/admin/console/1">Users</a></li>
            <li class="active" th:if="${role} == 'User' or ${role} == 'TL' or ${role} == 'PM'"><a href="/user/user-profile">Profile</a></li>
            <li><a href="/room-management/1">Rooms</a></li>
            <li th:if="${role} == 'User' or ${role} == 'TL' or ${role} == 'PM'"><a href="/user/view-booking-request/1">Bookings</a></li>
            <li th:if="${role} == 'Admin'"><a href="/admin/room-allocation/1">Bookings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="panel-group" style="margin-top:40px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>User Profile</h3>
                    <span>Hello</span>
                    <div style="float:right;">
                        <form th:action="@{/user/edit-profile}" method="put">
                            <button class="button2" name="registration"
                                    type="Submit"><i class="fas fa-user-edit ml-2">Edit Profile</i></button>
                        </form>
                    </div>
                </div>
                <div class="container">
                    <table class="table table-hover">
                        <tr>
                            <td>ID:</td><td th:text="${user.id}"></td>
                        </tr>
                        <tr>
                            <td>First Name:</td><td th:text="${user.firstName}"></td>
                        </tr>
                        <tr>
                            <td>Last Name:</td><td th:text="${user.lastName}"></td>
                        </tr>
                        <tr>
                            <td>Email ID:</td><td th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <td>Department:</td><td th:text="${user.department}"></td>
                        </tr>
                        <tr>
                            <td>Location</td><td th:text="${user.location}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>