<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <table>
        <form action="home" method="post"><!--th:action="@{/login}"-->
            <tr>
                <td>Username:</td><td><input type="text" name="username" id="username" placeholder="Enter Username" autofocus></td>
            </tr>
            <tr>
                <td>Password:</td><td><input type="password" name="password" id="password" placeholder="Enter Password"></td>
            </tr>
            <tr><td><input type="submit" value="Login" ></td></tr>
            <tr><td><input type="checkbox" name="remember-me"> Remember Me</td></tr>
        </form>
    </table>
    <p> New Here? <a href="/register">Register</a></p>
</body>
</html>