<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <table>
        <form>
            <tr>
                <td>Username:</td><td><input type="text" id="username" placeholder="Enter Username"></td>
            </tr>
            <tr>
                <td>Password:</td><td><input type="password" id="password" placeholder="Enter Password"></td>
            </tr>
            <tr><td><input type="submit" value="Login"></td></tr>
        </form>
    </table>
    <p> New Here? <a href="/register">Register</a></p>
</body>
</html>