<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}">
    <!-- Bootstrap library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width:500px;">
<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span ><h3>Login</h3></span>
        </div>
            <form  th:action="@{/login}" method="POST">
                <div class="form-group">
                    <label>Email address:</label>
                    <input class="form-control" type="email" id="email" name="email"  th:placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input class="form-control" type="password" id="password" name="password"  th:placeholder="Password">
                </div>
                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" value="Login" type="Submit" th:text="Login"></button>
                </div>
            </form>
        <div>
            <a href="/register"><button class="btn btn-lg btn-primary btn-block">Register</button></a>
        </div>
        <br>
        <div align="center">
            <a href="/forgot-password">forgot password?</a>
        </div>
    </div>
</div>
</div>
</body>
</html>