<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form th:action="@{/login}" method="">
    <button class="btn btn-md btn-danger btn-block" name="registration"
            type="Submit">Go Back to Login Page
    </button>
</form>
<div class="container">
<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span ><h3>Registration</h3></span>
        </div>
            <table class="table table-hover">
                <form  action="#" th:action="@{/register}" th:object="${person}" method="post">
                    <tr>
                        <td>First Name:</td><td>
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="validation-message"></label>
                        <input type="text" id="firstName" th:field="*{firstName}"
                                                       placeholder="Enter First Name" autofocus></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td><td>
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                        <input type="text" id="lastName" th:field="*{lastName}"
                                                      placeholder="Enter Last Name"></td>
                    </tr>
                    <tr>
                        <td>Gender:</td><td><input type="radio" name="gender" value="male">
                        Male  <input type="radio" name="gender" value="female">
                        Female  <input type="radio" name="gender" value="other">Other</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>
                            <select th:field="*{department}">
                                <option value="null" disabled selected>Please select...</option>
                                <option value="Java" th:value="Java" th:text="Java">Java</option>
                                <option value="iOS" th:value="iOS" th:text="iOS">iOS</option>
                                <option value="Android" th:value="Android" th:text="Android">Android</option>
                                <option value="testing" th:value="testing" th:text="testing">testing</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Location:</td>
                        <select th:field="*{location}">
                            <option value="null" disabled selected>Please select...</option>
                            <option value="Parel" th:value="Parel" th:text="Parel">Parel</option>
                            <option value="Rabale" th:value="Rabale" th:text="Rabale">Rabale</option>
                            <option value="Pune" th:value="Pune" th:text="Pune">Pune</option>
                            <option value="Dadar" th:value="Dadar" th:text="Dadar">Dadar</option>
                        </select>
                    <tr>
                        <td>Email ID:</td><td>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                class="validation-message"></label>
                        <input type="email" id="email" th:field="*{email}"
                                                     placeholder="Enter Email ID"></td>
                    </tr>
                    <tr>
                        <td>Password:</td><td>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                class="validation-message"></label>
                        <input type="password" id="password" th:field="*{password}"
                                                     placeholder="Enter Password"></td>
                    </tr>
                    <tr>
                        <td>Status:</td><td><input type="number" id="active" th:field="*{active}"
                                                   placeholder="1 if active otherwise 0"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button class="btn btn-mdbtn-block" value="Register"
                                    type="Submit">Register</button></td>
                    </tr>

                    <tr><td><span th:utext="${successMessage}"></span></td></tr>
                </form>
            </table>
        </div>
    </div>
</div>
</body>
</html>