<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

    <h2>Registration</h2>
    <table>
        <form  action="#" th:action="@{/register}" th:object="${person}" method="post">
            <tr>
                <td>First Name:</td><td><input type="text" id="firstName" th:field="*{firstName}" placeholder="Enter First Name"></td>
            </tr>
            <tr>
                <td>Last Name:</td><td><input type="text" id="lastName" th:field="*{lastName}" placeholder="Enter Last Name"></td>
            </tr>
            <tr>
                <td>Gender:</td><td><input type="radio" name="gender" value="male">Male  <input type="radio" name="gender" value="female">Female  <input type="radio" name="gender" value="other">Other</td>
            </tr>
            <tr>
                <td>Department:</td><td><input type="text" id="department" th:field="*{department}" placeholder="Enter Department Name"></td>
            </tr>
            <tr>
                <td>Location:</td><td><input type="text" id="location" th:field="*{location}" placeholder="Enter Your Location"></td>
            </tr>
            <tr>
                <td>Email ID:</td><td><input type="text" id="email" th:field="*{email}" placeholder="Enter Email ID"></td>
            </tr>
            <tr>
                <td>Password:</td><td><input type="password" id="password" th:field="*{password}" placeholder="Enter Password"></td>
            </tr>
            <tr>
                <td>Status:</td><td><input type="number" id="active" placeholder="1 if active otherwise 0"></td>
            </tr>
            <tr>
                <td><input type="submit" id="submit" value="Register"></td>
            </tr>

            <tr><td><span th:utext="${successMessage}"></span></td></tr>
        </form>
    </table>
</body>
</html>