<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/design.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Reset Password</h3>
            </div>
            <div class="container">
                <table class="table table-hover">
                    <form  action="#" th:action="@{'/reset-password/' + ${token}}" th:object="${user}" th:method="POST">
                        <tr>
                            <td>Email id:</td><td><input type="email" name="email" th:field="*{email}" autofocus required></td>
                        </tr>
                        <tr>
                            <td>Enter New Password:</td><td><input type="password" name="password" th:field="*{password}"></td>
                        </tr>
                        <tr>
                            <td><input class="button2" type="submit" name="submit" value="submit"></td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>